/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 50rem;
    margin: auto;
}

.heroMain {
    background-image: linear-gradient(to top right, #fff, #f1e9fb, #fff, #f1e9fb, #fff, #f1e9fb);
    --ifm-hero-background-color: #fff;
    --ifm-hero-text-color: hsl(270, 68%, 15%);
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
}
