/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 50rem;
    margin: auto;
}

.heroMain {
    background-image: linear-gradient(
        to top right,
        hsl(0, 0%, 100%),
        hsl(270, 100%, 95%),
        hsl(0, 0%, 90%),
        hsl(270, 100%, 85%),
        hsl(0, 0%, 90%),
        hsl(270, 100%, 95%),
        hsl(0, 0%, 100%)
    );
    --ifm-hero-background-color: #fff;
    --ifm-hero-text-color: hsl(270, 68%, 15%);
}

[data-theme='dark'] .heroMain {
    background-image: linear-gradient(
        to top right,
        hsl(0, 0%, 0%),
        hsl(270, 100%, 5%),
        hsl(0, 0%, 10%),
        hsl(270, 100%, 15%),
        hsl(0, 0%, 10%),
        hsl(270, 100%, 5%),
        hsl(0, 0%, 0%)
    );
    --ifm-hero-background-color: #000;
    --ifm-hero-text-color: hsl(270, 68%, 85%);
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
}
