.card {
    background-color: rgba(217, 217, 217, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(217, 217, 217, 0.15);
}

.cardImage {
    width: 6rem;
    height: 6rem;
    margin: auto;
    border-radius: 100%;
    display: block;
}

.cardContainer {
    padding: 1.5rem;
}

.blueText {
    font-weight: bold;
    color: hsl(240, 100%, 75%);
}
.grayText {
    font-weight: bold;
    color: hsl(0, 0%, 50%);
}
